body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

#dataTable {
    margin-top: 1em;
    width: 100%;
}

.button {
    width: 48%;
}

.button:disabled {
    color: lightgray;
}

.dataCell {
    width: 50%;
}
